<main class="main">
    <div class="main__one">
        <figure>
            <img class="main__img" src="./assets/img/nosotros.jpg" alt="Img-Inicio">
        </figure>

        <div>
            <h2>Nosotros</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, ut nam. Sed nobis exercitationem possimus, quae similique, eligendi necessitatibus, doloremque expedita reprehenderit corrupti asperiores officiis? Odit, dolorem? Ex, veritatis</p>

            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, ut nam. Sed nobis exercitationem possimus, quae similique, eligendi necessitatibus, doloremque expedita reprehenderit corrupti asperiores officiis? Odit, dolorem? Ex, veritatis
                illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil repellat possimus eaque blanditiis sunt aperiam ex quis cumque </p>

            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repudiandae nihil expedita fugiat eaque quia ratione quod vitae libero, nam perferendis pariatur a tenetur deleniti omnis eveniet? Temporibus, ipsam architecto.</p>
        </div>
    </div>

    <div class="main__two">
        <div>
            <figure>
                <img class="main__img--two" src="./assets/img/icono_seguridad.svg" alt="Img-seguridad">
            </figure>

            <h2>Seguridad</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium accusamus id nesciunt molestias expedita quas.</p>
        </div>

        <div>
            <figure>
                <img class="main__img--two" src="./assets/img/icono_destinos.svg" alt="Img-seguridad">
            </figure>

            <h2>Mejores Destinos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium accusamus id nesciunt molestias expedita quas.</p>
        </div>

        <div>
            <figure>
                <img class="main__img--two" src="./assets/img/icono_precios.svg" alt="Img-seguridad">
            </figure>

            <h2>Mejores Precios</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium accusamus id nesciunt molestias expedita quas.</p>
        </div>
    </div>
</main>