<h1 class="titleH1">Testimoniales</h1>
<h2 class="titleH2">Agregar Un Testimonial</h2>

<main class="main__container">
    <form action="" class="main__form">
        <div class="main__input">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="#" placeholder="Nombre">
        </div>

        <div class="main__input">
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="#" placeholder="Correo Electronico">
        </div>

        <div class="main__input">
            <label for="message">Mensaje</label>
            <textarea name="message" id="#" cols="50" rows="5" placeholder="Mensaje"></textarea>
        </div>

        <div class="main__input">
            <input class="main__btn" type="submit" value="Enviar">
        </div>
    </form>
</main>