<header class="hero__banner">
    <div class="hero__container">

        <figure>
            <a routerLink=''>
                <img class="hero__logo" src="./assets/img/logo.svg" alt="logo-agencia">
            </a>
        </figure>

        <nav>
            <ul class="nav__ul">
                <li class="nav__list"><a class="nav__item" href="#">Nosotros</a></li>
                <li class="nav__list"><a class="nav__item" href="#">Viajes</a></li>
                <li class="nav__list"><a class="nav__item" href="#">Testimoniales</a></li>
            </ul>
        </nav>
    </div>
</header>