.container__404 {
    height: 100vh;
    display: flex;
    color: #ffffff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #15B9D5;
}

.header {
    padding: 1rem;
}

.main__article {
    display: grid;
    align-items: center;
    justify-items: center;
}

.main__image img {
    width: 330px;
    min-height: 330px;
}

.main__section h1 {
    font-size: 1.5rem;
    text-align: center;
}

.section__paragraph {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}


/* @media all and (min-width: 425px) {
    .section__paragraph {
        width: 217px;
    }
    .main__section h1 {
        font-size: 1.9rem;
    }
} */

.section__bottom {
    width: 180px;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border-color: #DC135F;
    background-color: #DC135F;
}

.section__bottom a {
    color: #ffffff;
    text-decoration: none;
}

.section__bottom:hover {
    cursor: pointer;
    border-color: rgb(192, 7, 78);
    background-color: rgb(154, 5, 73);
}


/* MEDIA QUERYS GENERALS */

@media all and (min-width: 920px) {
    .main__article {
        grid-template-columns: 400px 400px;
    }
    .main__image img {
        width: 370px;
        min-height: 370px;
    }
}