<footer>
    <div class="hero__container">
        <nav>
            <ul class="nav__ul">
                <li class="nav__list"><a class="nav__item" [routerLink]="['/agencia/nosotros']">Nosotros</a></li>
                <li class="nav__list"><a class="nav__item" [routerLink]="['/agencia/viajes']">Viajes</a></li>
                <li class="nav__list"><a class="nav__item" [routerLink]="['/agencia/testimoniales']">Testimoniales</a></li>
            </ul>
        </nav>

        <p class="footer__p">Todos Los Derechos Reservados {{ year }} &copy;</p>
    </div>
</footer>